@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    font-family: "Nunito Sans", "serif";
    padding: 0;
    margin: 0;
}
h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
}

/* ---------------------------------------------------------grid view */
/* .container {
    border: 2px solid blue;
}

.row {
    border: 1px solid red;
}

.col {
    border: 1px solid green;
    background: white;
}
 */

/* -------------------------------------------------------------Nav Styles */
.container-fluid {
    padding: 0;
}
.my-nav {
    width: 100%;
    position: fixed;
    background: linear-gradient(#000, #0000);
    z-index: 500;
}

.my-brand {
    width: 7rem;
    margin: 10px 0 0 80px;
}

.my-links {
    justify-content: flex-end;
    font-size: .85rem;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 40px 90px 0 0;
    /* background: linear-gradient(1deg, black, transparent); */
}

.my-links > .navbar-nav > .nav-item {
    padding: 0 1rem 0 1rem;
    
}
.my-links > .navbar-nav > .nav-item > .nav-link {
    color: #d3d3d3;
}

.my-links > .navbar-nav > .nav-item > .nav-link:hover {
    /* color: #fff; */
    filter: brightness(120%);
    text-shadow: 0 0 10px rgb(231 22 105), 0 0 4px #2196f3;;
    /* text-shadow: 0 0 10px #6eafd3;
 */
}

.navbar-toggler {
    border-style: none;
}

/* -----------------------------------------------------------Splash Styles */
.splash-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    z-index: -10;
    opacity: 0.45;
}
.splashbg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    z-index: -100;
}

 #splashvid {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

video[poster]{
    object-fit: fill;
}

.carousel-inner,
.carousel-item,
.carousel-item.active {
    height: 100vh;
}

.carousel-item > img {
    object-fit: cover;
    min-height: 100%;
}
.splash-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    color: #f8f8f8;
}

/* .splash {
    justify-items: center;
    align-items: center;
} */

.welcome {
    letter-spacing: 2px;
    text-transform: uppercase;
    z-index: 10;
}

.welcome > h1 {
    font-family: "Great Vibes", cursive;
    text-transform: none;
    color: #fff;
    filter: brightness(110%);
    text-shadow: 0 0 20px #6eafd3;
}

.horizontalbar {
    background: rgb(231 22 105);
    width: 100%;
    height: 2px;
    border-radius: 10px;
    filter: blur(1px);
}

.intro {
    font-weight: 400;
}

.intro p {
    padding-top: 10px;
}

.button-wrap, .welcome, .intro {
    text-align: center;
}

/* Button (editd code snippet) src = https://codepen.io/robson_muniz/pen/BaygbQY Original author Robson Nuniz*/
.my-button {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    /* color: rgb(231 22 105); */
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 0 0 10px rgb(231 22 105);
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 1px;
    overflow: hidden;
    transition: 0.2s;
}



.my-button:hover {
    color: rgb(231 22 105);
    background: #6eafd3;
    box-shadow: 0 0 10px #6eafd3, 0 0 40px #6eafd3, 0 0 80px #6eafd3;
    transition-delay: 1s;
}


.my-button span {
    position: absolute;
    display: block;
}




.my-button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #6eafd3);
}



.my-button:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}


.my-button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

.my-button:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}



.my-button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

.my-button:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}



.my-button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

.my-button:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


/* --------------------------------------------------------Event Styles */
.events-wrapper {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
    position: relative;
    width: 100vw;
   /*  margin: 0; */
    padding: 110px 0;
    background-color: #f38bb5;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%238cf3ec' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    transform: skew(0deg, -4deg) translateY(-50px);
    z-index: 400;
    box-shadow: 0px 0px 20px 5px;
}

.my-container {
    max-width: 720px;
    transform: skew(0deg, 4deg);
}

.my-col {
    padding-left: 2rem;
}

.events-heading h3 {
    font-size: 3rem;
}
.events-card {
    /* display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center; */
    padding: 0;
    margin: 0;
    height: auto;
    width: 150px;
    /* width: calc(99.9% * 1/2 - (1.2rem - 1.2rem * 1/2)); */
    margin: 10px;
    background-color: #fed0e2;
    transition: all .2s ease-in-out;
}
.event-text {
    font-weight: 600;
}
.event-header {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.2rem;
    padding-top: .5rem
}

.event-date {
    padding: 1rem 0 1rem 0;
    font-size: 1rem;
    text-transform: uppercase;
}

.events-card:hover {
    transform: scale(1.02);
    /* box-shadow: 20px 20px 50px 15px #c63770; */
    box-shadow: 0 0 40px 5px rgb(231 22 105), 0 0 10px 2px #2196f3;
    /* background-color: #fff; */
    filter: brightness(120%);
}

/* .event-text:nth-child(2) {
    filter: brightness(110%);
} */


.events-card img {
    height: 100px;
    width: 100%;
    padding: 0;
}

.event-text {
    width: 100%;
    text-align: center;
}
/* test cards */
/* .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    padding: 20px;
    grid-gap: 40px;
}

.card {
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}

.card-container > img {
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}

.card-container {
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}
.card-container:after {
    content:"";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}

.details {
    padding: 20px 10px;
}

.details > h3 {
    color: #f8f8f8;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.details > p {
    color: #f8f8f8;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}
.card1 > .card-container:after {
    background-image: linear-gradient(135deg, #0100ec, #fb36f4);
} */

/* --------------------------------------------------------Social Styles */

#social {
   /*  display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
    text-align: center;
    width: 100vw;
    margin: 0;
    padding: 240px 0;
    transform: skew(0deg, 4deg) translateY(-160px);
    z-index: 300;
    background-color: #fb5999;
    box-shadow: 0px 0px 20px 5px;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='%235bfbf0' fill-opacity='0.12' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.social-container {
    transform: skew(0deg, -4deg);
}

.social-link {
    height: 46px;
    width: 46px;
    display: inline-block;
    margin: 0 3rem 0 3rem;
    font-size: 2rem;
    transition: all .2s ease-in-out;
    border: 2px solid #2a2a2a;
    border-radius: 5px;

}

.social-link:hover {
    transform: scale(1.02);
    /* box-shadow: 0 0 10px rgb(231 22 105); */
    box-shadow: 0 0 20px 3px rgb(231 22 105), 0 0 2px 1px #2196f3;
}

.social-heading h2 {
    font-size: 3rem;
}

/* --------------------------------------------------------News Styles */

#news {
   /*  display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw; */
    /* margin: 0;
    padding: 0; */
    width: 100vw;
    height: 50vh;
    position: relative;
    text-align: center;
    background-color: #c63770;
    transform: skew(0deg, 4deg) translateY(-160px);
    z-index: 200;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2351666b' fill-opacity='0.18' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.news-container {
    transform: skew(0deg, -4deg) translateY(80px);
    
}

.form-content {
    display: flex;
    justify-content: center;
}

.input-container {
    width: 50%;
    
    /* transform: skewY(-4deg); */
}

.my-email,
.my-text{
    width: 90%;
    background: none;
    border-top: none;
    border-left: none;
    border-bottom-color: #2196f3;
    border-right: none;
    font-family: inherit;
}

.my-email {
    margin-top: 10px;
}

.my-submit {
    /* position: relative;
    bottom: 10px;
    left: 20px; */
    font-size: 3rem;
    border: none;
    background: none;
    /* border: 2px solid blue;
    border-left: 0;
    float: right; */
}

.my-modal {
    z-index: 100;
    transform: skew(0deg, -4deg);
}
 .my-modal-bg {
     z-index: 200;
 }
 
 .modal-backdrop {
    display: none;
 }
 
.modal.show .modal-dialog {
    transform: skew(0deg, -4deg);
}

/* ------------------------------------------------------Menu Styles */

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #37c8be;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23c83771' fill-opacity='0.09'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

/* ------------------------------------------------Footer Styles */

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background: black;
}

/* -----------------------------------------------------Media Queries */

@media (min-aspect-ratio: 16/9) {
    #splashvid {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #splashvid { 
        width:auto;
        height: 100%;
    }
}

@media (min-width: 1200px) {
    .welcome > h1 {
        font-size: 4rem;
    }
    .welcome > h2 {
        font-size: 2rem;
        padding: 20px;
    }
    .intro > p {
        font-size: 1.5rem;
    }
    
    
}

@media (min-width: 992px) {
    .splash-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #388bb9;
    z-index: -10;
    opacity: 0.15;
    }
    #carouselExampleSlidesOnly {
        display: none;
    }
}
@media (max-width: 992px) {
    .welcome > h1 {
        font-size: 3.6rem;
    }
    .welcome > h2 {
        font-size: 1.8rem;
        padding: 20px;
    }
    .intro > p {
        font-size: 1.3rem;
    }
    .my-brand {
    width: 6.5rem;
    margin: 1em 0 0 1em;
    }
    #splashvid {
        display: none;
    }
    .my-links {
        background: linear-gradient(1deg, black, transparent);
    }
    .my-col {
        padding-left: 2rem;
    }
}

@media (max-width: 768px) {
    .welcome > h1 {
        font-size: 3.2rem;
    }
    .welcome > h2 {
        font-size: 1.6rem;
    }
    .intro > p {
        font-size: 1.2rem;
    }
    .my-brand {
    width: 6rem;
    margin: 1em 0 0 1em;
    }
}

@media (max-width: 540px) {
    .my-col {
        padding-left: 3rem;
    }

    .input-container {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .welcome > h1 {
        font-size: 2.2rem;
    }
    .welcome > h2 {
        font-size: 1.4rem;
        padding: 1rem 0;
    }
    .intro > p {
        font-size: 1rem;
        margin: 1rem 0 0;
    }
    .my-brand {
    width: 5rem;
    margin: 1em 0 0 1em;
    }
    .events-card {
        width: 131px;
    }
    /* .event-text > p {
        font-size: 1.3rem;
    } */
    .event-header {
        font-size: .8rem;
    }
    .event-date {
    font-size: .8rem;
    }
    .my-col {
        padding-left: 1.5rem;
    }
    .social-link {
    margin: 0 1.5rem 0 1.5rem;
    font-size: 2rem;
    }
}
@media (max-width: 385px) {
    .my-col {
        padding-left: 1rem;
    }
}

@media (max-width: 368px) {
    .my-col {
        padding-left: .4rem;
    }
}
@media (max-width: 360px) {
    .welcome > h1 {
        font-size: 2rem;
    }
    .welcome > h2 {
        font-size: 1.2rem;
        padding: .8rem 0;
        margin: 0;
    }
    .intro > p {
        font-size: .9rem;
        text-align: justify;
        margin: .8rem 0 0;
    }
    .my-brand {
        width: 4rem;
        margin: 1em 0 0 1em;
    }
    .my-col {
        padding-left: 0.3rem;
    }
    
    .events-heading h3 {
    font-size: 2.5rem;
    }

    .social-heading h2 {
    font-size: 2.5rem;
    }

    .social-heading p {
    font-size: 1rem;
    }
}

/* @media (min-width: 360px) {
    .events-card img {
        height: 100px;
    }
} */
/* 
@media (max-width: 360px) {
   .events-card img {
        height: 100px;
    }
    
} */
@media (max-width: 320px) {
    .my-col {
        min-width: 100%;
        max-height: 100%;
        padding: 0;
    }

    .events-card img {
        height: auto;
    }

     .events-card {
        width: auto;
        height: auto;
    }

    .events-heading h3 {
    font-size: 2rem;
    }

    .social-heading h2 {
    font-size: 2rem;
    }

    .social-text p {
        font-size: 1rem;
    }
    .social-link {
    margin: 0 1rem 0 1rem;
    font-size: 2rem;
    }

}